.col-8{
    color: aliceblue;
}

#txt1{
    margin-top: 5%;
    background-color: black;
    width: 600px;
}

#txt2{
    background-color: black;
    width: 400px;
}

#redes{
    width: 30px;
    height: 30px;
}

#aura{
    width: auto;
    height: 15%;
}